<table style="text-align: center;width: 100%;">
    <th>Baby Clothing</th>
    <th>Fabric/Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/i1.jpg" style="width:250px"><br>
        <td>Sky blue woolen winter wear</td>
        <td>Age upto 1 Years</td>
        <td>1000</td>
</tr>
    <tr>
  <img src="assets/images/i2.jpg"style="width:250px">
    <td>White Cotton frock with hairband</td>
<td>Age upto 1.5 Years</td>
<td>1100</td>
</tr>



    <tr>
        <img src="assets/images/i3.jpg"style="width:250px">
<td>Shirt & bottom combo for boys</td>
<td>Age upto 2 Years</td>
<td>1000</td>
</tr>


<tr>
    <img src="assets/images/i4.jpg"style="width:250px">
<td>Cotton wear for babies</td>
<td>Age upto 8 to 9 months</td>
<td>800</td>
</tr>

<tr>
<img src="assets/images/i5.jpg"style="width:250px">

<td>Grey frock with hairband</td>
<td>Age upto 1 Years </td>
<td>1200</td>

</tr>

</table>


