<table style="text-align: center;width:100%;">
    <th>Jackets</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/mjk1.jpg" style="width:250px"><br>
        <td>Black leather</td>
        <td><a href="" >S M L XL </a></td>
        <td>1800</td>
</tr>
    <tr>
  <img src="assets/images/mjk2.jpg"style="width:250px">
    <td>Solid blue</td>
<td><a href="" >S M L XL</a></td>
<td>1100</td>
</tr>



    <tr>
        <img src="assets/images/mjk3.jpg"style="width:250px">
<td>Grey</td>
<td>S M L XL</td>
<td>1000</td>
</tr>


<tr>
    <img src="assets/images/mjk4.jpg"style="width:250px">
<td>Black</td>
<td><a href="" >S M L XL </a></td>
<td>1600</td>
</tr>

<tr>
<img src="assets/images/mjjk5.jpg"style="width:250px">

<td>Brown leather</td>
<td><a href="" >S M L XL </a></td>
<td>1200</td>

</tr>

</table>

