<table style="text-align: center;width: 100%;">
    <th>Frocks</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/g1.jpg" style="width:250px"><br>
        <td>Printed blue</td>
        <td>Age upto 6 Years</td>
        <td>750</td>
</tr>
    <tr>
  <img src="assets/images/g2.jpg"style="width:250px">
    <td>Green</td>
<td>Age upto 6 Years</td>
<td>900</td>
</tr>



    <tr>
        <img src="assets/images/g3.jpg"style="width:250px">
<td>Orange</td>
<td>Age upto 5 Years</td>
<td>1200</td>
</tr>


<tr>
    <img src="assets/images/g4.jpg"style="width:250px">
<td>Olive green double pattern</td>
<td>Age upto 7 Years</td>
<td>1500</td>
</tr>

<tr>
<img src="assets/images/g5.jpg"style="width:250px">

<td>Sky Blue</td>
<td>Age upto 8 Years</td>
<td>1000</td>

</tr>

</table>
