<table style="text-align: center;">
    <th>Tshirts</th>
    <th>Fabric/Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/ms1.jpg"><br>
        <td>Cotton blend Multicolor tshirt</td>
        <td><a href="" >S M L XL XXL</a></td>
        <td>500</td>
</tr>
    <tr >
  <img src="assets/images/men2.jpg">
    <td>Full sleeves Grey tshirt</td>
<td><a href="" >S M L XL XXL</a></td>
<td>350</td>
</tr>



    <tr>
        <img src="assets/images/ms3.jpg">
<td>Combo pack of 02 Green & Black tshirt</td>
<td>S M L XL XXL</td>
<td>600</td>
</tr>


<tr >
    <img src="assets/images/ms4.jpg">
<td>Half sleeves black tshirt</td>
<td><a href="" >S M L XL XXL</a></td>
<td>400</td>
</tr>

<tr>
<img src="assets/images/ms5.jpg">

<td>Full sleeves black tshirt</td>
<td><a href="" >S M L XL XXL</a></td>
<td>500</td>

</tr>

</table>
