<div class="image" style="display:flex; margin:20px;grid-gap: 10px;justify-content: center;">

    
   <a routerLink="/shopping/women_tshirts"> 
    <img src="assets/images/women4.jpeg" style="width:400px ;height:600px;border: 2px solid black;">
    <br><h2 class="text">T-shirts</h2></a>



   
    <a routerLink="/shopping/women_ethnic">
         <img src="assets/images/women2.jpg" style="width:400px ;height:600px;border: 2px solid black;">
        <br><h2 class="text">Dresses</h2></a>


   
    <a routerLink="/shopping/women_jeans">
         <img src="assets/images/women5.jpg" style="width:400px ;height:600px;border: 2px solid black;">
        <br><h2 class="text">Bottoms</h2></a>

</div>
