<table style="text-align: center;width: 100%;">
    <th>Clothing</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>
    <style>
        th 
        {
        width: 300px; 
    }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/b1.jpg" style="width:250px"><br>
        <td>3 piece suit Grey & blue combination</td>
        <td>Age upto 6 Years</td>
        <td>1500</td>
</tr>
    <tr>
  <img src="assets/images/b2.jpg"style="width:250px">
    <td>Ethnic wear Grey kurti with white bottom</td>
<td>Age upto 6 Years</td>
<td>1000</td>
</tr>



    <tr>
        <img src="assets/images/b3.jpg"style="width:250px">
<td>Blue denim jacket</td>
<td>Age upto 5 Years</td>
<td>1200</td>
</tr>


<tr>
    <img src="assets/images/b4.jpg"style="width:250px">
<td>Orange leather jacket</td>
<td>Age upto 5 Years</td>
<td>1500</td>
</tr>

<tr>
<img src="assets/images/b5.jpg"style="width:250px">

<td>Black sweatshirt</td>
<td>Age upto 8 Years</td>
<td>900</td>

</tr>

</table>

