<table style="text-align: center;">
    <th>Tshirts</th>
    <th>Fabric/Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/ts1.jpg"><br>
        <td>Combo pack of 02 (Marron&Brown) <br>Lycra Cotton</td>
        <td><a href="" >S M L XL XXL</a></td>
        <td>500</td>
</tr>
    <tr>
  <img src="assets/images/ts2.jpg">
    <td>Cotton blend blue tshirt</td>
<td><a href="" >S M L XL XXL</a></td>
<td>350</td>
</tr>



    <tr>
        <img src="assets/images/ts3.jpg">
<td>Cotton blend black tshirt</td>
<td>S M L XL XXL</td>
<td>400</td>
</tr>


<tr>
    <img src="assets/images/ts4.jpg">
<td>Cotton brown tshirt</td>
<td><a href="" >S M L XL XXL</a></td>
<td>400</td>
</tr>

<tr>
<img src="assets/images/ts5.jpg">

<td>Cotton White tshirt</td>
<td><a href="" >S M L XL XXL</a></td>
<td>500</td>

</tr>

</table>