
<div class="d1" style="display: flex;grid-gap:20px;justify-content: center;padding-top:30px;">

    <a routerLink="/shopping/women">
        <img src="assets/images/WOMEN.jpg" style="width:300px ;height:500px;border: 2px solid black;"><br>
       <h2 class="text" >Women</h2>
    </a>

    <a routerLink="/shopping/men">
        <img src="assets/images/men.jpg" style="width:300px ;height:500px;border: 2px solid black;"><br>
        <h2 class="text" >Men</h2></a>

    <a routerLink="/shopping/kids">
        <img src="assets/images/kids.jpg" style="width:300px ;height:500px;border: 2px solid black;">
        <br>
        <h2 class="text" >Kids</h2>
    </a>
</div>
