<table style="text-align: center;width: 100%;">
    <th>Jeans</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/wj1.jpg" style="width:250px"><br>
        <td>Navy Blue bell bottom</td>
        <td><a href="" >S M L XL </a></td>
        <td>800</td>
</tr>
    <tr>
  <img src="assets/images/wj2.jpg"style="width:250px">
    <td>Black Slim fit</td>
<td><a href="" >S M L XL</a></td>
<td>900</td>
</tr>



    <tr>
        <img src="assets/images/wj3.jpg"style="width:250px">
<td>Sky blue </td>
<td>S M L XL</td>
<td>750</td>
</tr>


<tr>
    <img src="assets/images/wj4.jpg"style="width:250px">
<td>Light blue</td>
<td><a href="" >S M L XL </a></td>
<td>950</td>
</tr>

<tr>
<img src="assets/images/wj5.jpg"style="width:250px">

<td>Black bell bottom</td>
<td><a href="" >S M L XL </a></td>
<td>1000</td>

</tr>

</table>
