<table style="text-align: center;width: 100%;">
    <th>Dresses</th>
    <th>Fabric/Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/et1.jpg" style="width:250px"><br>
        <td>Rayon organza suit </td>
        <td><a href="" >S M L XL </a></td>
        <td>1200</td>
</tr>
    <tr>
  <img src="assets/images/et2.jpg"style="width:250px">
    <td>Viscose light cream color suit</td>
<td><a href="" >S M L XL</a></td>
<td>900</td>
</tr>



    <tr>
        <img src="assets/images/et3.jpg"style="width:250px">
<td>Cotton blend blue  embrodiery suit</td>
<td>S M L XL</td>
<td>1150</td>
</tr>


<tr>
    <img src="assets/images/et4.jpg"style="width:250px">
<td>Rayon Light purple suit</td>
<td><a href="" >S M L XL </a></td>
<td>950</td>
</tr>

<tr>
<img src="assets/images/et5.jpg"style="width:250px">

<td>Cotton blue&green suit/td>
<td><a href="" >S M L XL </a></td>
<td>800</td>

</tr>

</table>
