<table style="text-align: center;width: 100%;">
    <th>Bottoms</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price</th>


    <style>
        th {
            width: 300px;
        }

        tr,
        td,x    
        th {
            border: 2px solid;
            margin: 10px;

        }
    </style>
 <tr>
    <img src="assets/images/mj1.jpg" style="width:250px"><br>
        <td>Solid Blue</td>
        <td><a href="" >S M L XL </a></td>
        <td>1000</td>
</tr>
    <tr>
  <img src="assets/images/mj2.jpg"style="width:250px">
    <td>Sky blue</td>
<td><a href="" >S M L XL</a></td>
<td>1100</td>
</tr>



    <tr>
        <img src="assets/images/mj3.jpg"style="width:250px">
<td>Grey</td>
<td>S M L XL</td>
<td>900</td>
</tr>


<tr>
    <img src="assets/images/mj4.jpg"style="width:250px">
<td>Black</td>
<td><a href="" >S M L XL </a></td>
<td>1200</td>
</tr>

<tr>
<img src="assets/images/mj5.jpg"style="width:250px">

<td>Blue</td>
<td><a href="" >S M L XL </a></td>
<td>1000</td>

</tr>

</table>
